.activeSession{
    margin-left: 0.2%;
    width: 20% !important;
}

.bscrumb{
    margin-bottom: 1%;
    background-color: white !important;
    border-radius: 10px;
    margin:0 1rem 1rem 1.5rem;
}

#homee{
    font-weight: 500;
    color: rgb(111, 111, 114);
 
}

.backbtn{
    float: right;
}
.error{
    color: red;
    font-size: 15px;
  }
  .width-40{
    width:40%;
  }