.fff {
    border-left: 0.01em solid #ccc;
    border-right: 0;
    border-top: 0.01em solid #ccc;
    border-bottom: 0;
    border-collapse: collapse;
    position: center;
    background-color: red;
}

.fff td,
.fff th {
    border-left: 0;
    border-right: 0.01em solid #ccc;
    border-top: 0;
    border-bottom: 0.01em solid #ccc;
}

.container-left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    /* padding: 1%; */
}

.container-right {
    width: 50%;
    float: right;
    box-sizing: border-box;
    /* padding: 1%; */
}

h3 {
    margin-bottom: -20px !important;
    font-size:22px !important;
    line-height:0.7em;
}

h4 {
    margin-bottom: -10px !important;
    font-size:15px !important;
    line-height:0.7em;
}

th,td{
    padding: 0.5 !important;
    padding-left: 1.5 !important;
}

.image-container {
    margin-top: -20px; 
} 
.image-container img { 
    max-width: 150px; 
    height: 130px; 
}

.photo{
    opacity: 0.8;
}

.signature-container img { 
    max-width: 320px; 
    height: 50px; 
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

u {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid,
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-top {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -10px;
    padding-left: 18px;
    padding-right: 17px;
}
.container-results {
    margin-right: auto;
    margin-left: auto;
    padding-left: 21px;
    padding-right: 23px;
}
.container-major{
    display: flex;
    justify-content: center;
    padding: 20px; 
    margin: -10px !important;
}

.row {
    margin-right: 15px;
}

.coll-xs-1,
.coll-sm-1,
.col-md-1,
.coll-lg-1,
.coll-xs-2,
.coll-sm-2,
.coll-md-2,
.coll-lg-2,
.coll-xs-3,
.coll-sm-3,
.coll-md-3,
.coll-lg-3,
.coll-xs-4,
.coll-sm-4,
.coll-md-4,
.coll-lg-4,
.coll-xs-5,
.coll-sm-5,
.coll-md-5,
.coll-lg-5,
.coll-xs-6,
.coll-sm-6,
.coll-md-6,
.coll-lg-6,
.coll-xs-7,
.coll-sm-7,
.coll-md-7,
.coll-lg-7,
.coll-xs-8,
.coll-sm-8,
.coll-md-8,
.coll-lg-8,
.coll-xs-9,
.coll-sm-9,
.coll-md-9,
.coll-lg-9,
.coll-xs-10,
.coll-sm-10,
.coll-md-10,
.coll-lg-10,
.coll-xs-11,
.coll-sm-11,
.coll-md-11,
.coll-lg-11,
.coll-xs-12,
.coll-sm-12,
.coll-md-12,
.coll-lg-12 {
    position: relative;
    min-height: 1px;
}

.coll-xs-12 {
    width: 100%;
}

.coll-xs-11 {
    width: 91.66666667%;
}

.coll-xs-10 {
    width: 83.33333333%;
}

.coll-xs-9 {
    width: 75%;
}

.coll-xs-8 {
    width: 66.66666667%;
}

.coll-xs-7 {
    width: 58.33333333%;
}

.coll-xs-6 {
    width: 50%;
    margin-left: -19px;
}

.coll-xs-5 {
    width: 41.66666667%;
}

.coll-xs-4 {
    width: 33.33333333%;
}

.coll-xs-3 {
    width: 25%;
}

.coll-xs-2 {
    width: 16.66666667%;
}

.coll-xs-1 {
    width: 8.33333333%;
}